<main *bgAwaitPromises="[ badgesLoaded ]" class="o-container">

	<external-tool-launch></external-tool-launch>
	<form-message></form-message>
	<div class="topbar">
		<div class="l-containerxaxis">
			<div class="topbar-x-breadcrumbs">
				<bg-breadcrumbs [linkentries]="crumbs">
				</bg-breadcrumbs>
			</div>
		</div>
	</div>
	<div class="badgedetail">
		<div class="badgedetail-x-header">
			<h1>{{ badge.badgeClass.name }}</h1>

			<div class="l-primarymore">
				<button
					*ngIf="badge.mostRelevantStatus !== 'pending'"
					class="button"
					type="button"
					(click)="shareBadge()"
				>Share Badge</button>
				<button class="buttonicon buttonicon-secondary" id="actionstrigger"
		    		[bgPopupMenuTrigger]="moreMenu">
			        <svg icon="icon_more"></svg>
			        <span class="visuallyhidden">More</span>
			    </button>
				<bg-popup-menu #moreMenu>
					<a class="menuitem"
						[href]="verifyUrl"
						><svg icon="icon_checkmark"></svg>Verify</a>
					<!--<a class="menuitem"
						[href]="v2JsonUrl"
						>Download JSON</a>
					<a class="menuitem"
						[href]="v2BakedUrl"
						>Download Baked Image</a>
					-->
					<button class="menuitem"
						 (click)="deleteBadge(badge)"
						 [disabled-when-requesting]="true"
						><svg icon="icon_remove"></svg>Delete</button>
					<ng-container *ngIf="launchpoints">
						<a class="menuitem" *ngFor="let lp of launchpoints" (click)="clickLaunchpoint(lp)">
							<svg icon="icon_external_link"></svg>
							{{lp.label}}
						</a>
					</ng-container>
				</bg-popup-menu>
			</div>
		</div>
		<div class="badgedetail-x-sidebar">
			<div class="badgedetail-x-sidebarinternal">
				<img
					 [loaded-src]="badge.image"
					 [loading-src]="badgeLoadingImageUrl"
					 [error-src]="badgeFailedImageUrl"
					 [ngStyle]="badge.isExpired && {'filter':'grayscale(1)'}"
					 class="badgeimage badgeimage-center badgeimage-large"
					 width="200"
			    />
				<div class="badgestatus badgestatus-{{badge.mostRelevantStatus}} u-margin-top2x" *ngIf="badge.mostRelevantStatus">
					{{badge.mostRelevantStatus}}
				</div>
				<dl>
			    	<div class="l-flex l-flex-2x u-padding-top2x border border-top border-light3">
						<div>
							<img [loaded-src]="badge.badgeClass?.issuer?.image"
                 				 [loading-src]="issuerImagePlacholderUrl"
                 				 [error-src]="issuerImagePlacholderUrl"
				 				 width="40" />
						</div>
						<div>
							<dt class="u-text-small-bold u-text-dark2">Issued by:</dt>
							<dd class="u-text">
									<a class="u-break-word" [href]="badge.badgeClass.issuer.id">{{ badge.badgeClass.issuer.name }}</a>
							</dd>
						</div>
			    	</div>
			    	<dt class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2">Issued on:</dt>
					<dd class="u-text"><time [date]="badge?.issueDate" format="mediumDate"></time></dd>
			    	<dt class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2">Awarded to:</dt>
					<dd class="u-text u-break-all" *ngIf="badge.hasExtension('extensions:recipientProfile')">{{ badge.getExtension('extensions:recipientProfile', null).name }}</dd>
					<dd class="u-text u-break-all">{{ badge.recipientEmail }}</dd>
			    	<div
			    		*ngIf="badge && badge.expiresDate">
				    	<dt class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2">{{ compareDate(badge.expiresDate, now) | i18nPlural: tense['expires'] }} on:</dt>
				    	<dd class="u-text"><time [date]="badge?.expiresDate" format="mediumDate"></time></dd>
				    </div>
			    </dl>
			</div>
		</div>
		<div class="badgedetail-x-desc">
			<h2 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-hidden-mintablet">Description</h2>
			<p class="u-text-body u-width-paragraph">{{ badge.badgeClass.description }}</p>
		</div>
		<div class="badgedetail-x-body">

			<!-- criteria -->
			<section
				*ngIf="badge.badgeClass.criteria_url || badge.badgeClass.criteria_text || badge.badgeClass.criteria">
				<h3
					class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x"
				>Criteria</h3>
				<show-more class="u-margin-bottom8x"
					*ngIf="badge.badgeClass.criteria_text">
					<markdown-display
						[value]="badge.badgeClass.criteria_text"></markdown-display>
				</show-more>
				<div class="u-margin-yaxis2x"
					*ngIf="badge.badgeClass.criteria_url">
					<a class="u-text-outlink" target="_blank"
						[href]="badge.badgeClass.criteria_url"
					>View external Criteria URL
						<svg icon="icon_external_link"></svg>
					</a>
				</div>
			</section>

			<!-- alignment -->
			<section>
			<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x"
				*ngIf="badge.badgeClass.alignment && badge.badgeClass?.alignment.length>0"
				>Alignment</h3>
			<div
			     *ngFor="let alignment of badge.badgeClass.alignment; let i=index">
				<div class="l-flex l-flex-justifybetween">
					<h4 class="u-text-body-bold u-margin-bottom1x">{{ alignment.targetName }}</h4>
					<small>{{ alignment.targetCode }}</small>
				</div>
				<p class="u-break-word u-text-body u-width-paragraph">{{ alignment.targetDescription }}</p>
				<div *ngIf="alignment.frameworkName">
					<h1>Framework</h1>
					{{ alignment.frameworkName }}
				</div>
				<div class="u-margin-yaxis2x">
					<a
						*ngIf="alignment.targetUrl"
						class="u-text-outlink"
						[href]="alignment.targetUrl"
						target="_blank"
					>View alignment URL
						<svg icon="icon_external_link"></svg>
					</a>
				</div>
			</div>
			</section>

			<!-- tags -->
			<section
				*ngIf="badge.badgeClass.tags.length > 0">
			<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Tags</h3>
			<div class="l-tags">
				<div class="tag"
					*ngFor="let tag of badge.badgeClass.tags; last as last"
				>{{tag}}</div>
			</div>
			</section>

			<!-- evidence -->
			<section>
			<div *ngIf="badge.narrative" class="u-break-word">
				<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x"
					*ngIf="badge.evidence_items?.length>0 || badge.narrative"
				>Narrative</h3>
				<show-more>
					<markdown-display [value]="badge.narrative"></markdown-display>
				</show-more>
			</div>
			<div *ngFor="let evidence of badge.evidence_items; let i=index" class="u-break-word">
				<div  *ngIf="badge.evidence_items?.length>0 || badge.narrative">
					<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Evidence</h3>
					<markdown-display [value]="evidence.narrative"></markdown-display>
				</div>
				<div class="u-margin-yaxis2x">
					<a
						*ngIf="evidence.evidence_url"
						class="u-text-outlink"
						[href]="evidence.evidence_url"
						target="_blank"
					>View Evidence URL
						<svg icon="icon_external_link"></svg>
					</a>
				</div>
			</div>
			</section>

			<!-- collections -->
			<section>
			<div class="l-flex l-flex-1x l-flex-justifybetween u-margin-bottom2x u-margin-top4x">
	            <h2 class="u-text-h3-semibold u-text-dark2">Collections</h2>
	            <button
            	    [class.connectionadd-is-added]="badge.collections.length > 0"
			        (click)="manageCollections()"
			        class="button button-secondary"
		        >Add to Collection</button>
	        </div>
			<table class="datatable datatable-roundheaders datatable-verticalalignmiddle"
				*ngIf="badge.collections.length > 0">
				<thead class="datatable-x-head">
	                <tr class="datatable-x-header">
	                    <th class="datatable-x-cell">Collection</th>
	                    <th class="datatable-x-cell"><span class="visuallyhidden">Actions</span></th>
	                </tr>
	            </thead>
	            <tbody class="datatable-x-body">
                    <tr class="datatable-x-row"
                    	*ngFor="let collection of badge.collections">
                    	<td class="datatable-x-cell">
                            <p class="u-text-body-semibold u-break-word">{{ collection.name }}</p>
                        </td>
                        <td class="datatable-x-cell">
                            <div class="l-flex l-flex-justifyend">
                                <button class="u-text-link-small"
                            		(click)="removeCollection(collection)"
                        		>Remove</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
			</table>
			</section>
		</div>
	</div>
	<recipient-badge-collection-selection-dialog #collectionSelectionDialog> </recipient-badge-collection-selection-dialog>
</main>
