<div class="l-containerxaxis l-containeryaxis">
	<form-message></form-message>

	<div class="u-width-form">
		<!-- OAuth Banner -->
		<oauth-banner></oauth-banner>
		<h1 class="u-text-h1 u-margin-bottom3x">Reset Password</h1>
		<!-- Reset Password Form -->
		<form 
			aria-labelledby="heading-form"
			[formGroup]='changePasswordForm.rawControl'
			(ngSubmit)="submitChange()"
			novalidate
		>
			<fieldset role="group" aria-labelledby="heading-forgotpassword">
				<legend class="visuallyhidden" id="heading-forgotpassword">Enter a new password</legend>
				<bg-formfield-text 
					[control]="changePasswordForm.rawControlMap.password1"
					[label]="'New Password'"
					[errorMessage]="{
						required: 'Please enter a new password'
					}"
					fieldType="password"
					[autofocus]="true"
					sublabel="Must be at least 8 characters">
				</bg-formfield-text>

				<bg-formfield-text 
					class = "u-margin-top2x"
					[control]="changePasswordForm.rawControlMap.password2"
					[label]="'Confirm New Password'"
					fieldType="password"
					[errorMessage]="{
						required: 'Please confirm your new password',
						passwordsMatch: 'Passwords do not match'
					}"
					[errorGroup]="changePasswordForm">
				</bg-formfield-text>
			</fieldset>

			<div class="l-stack l-stack-buttons u-margin-top3x">
				<button class="button"
								type="submit"
								[loading-when-requesting]="true"
								loading-message="Changing Password"
				>Change Password</button>
				<a class="button button-secondary"
					 [routerLink]="['/auth/login']"
					 [disabled-when-requesting]="true"
				>Cancel</a>
			</div>
		</form>
	</div>
</div>
