<h3 class="backgroundgraphic  graphicheadline ">Welcome to <span class="u-text-bold u-text-light1">Badgr!</span></h3>
<div class="callouts  l-callouts ">
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageBadge" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline">Tell your story with <span>Badges</span></h4>
			<p class="callouts-x-graf">Badges are your achievements, showing when and how you earned them. They are meant to be shared!</p>
		</div>
	</section>
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageBackpack" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline">Store your badges in your <span>Backpack</span></h4>
			<p class="callouts-x-graf">Organize, display and manage your badges.</p>
		</div>
	</section>
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageCollections" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline">Arrange your badges into <span>Collections</span></h4>
			<p class="callouts-x-graf">Share your collections with specific people.</p>
		</div>
	</section>
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageIssuer" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline">Vouch for skills as an <span>Issuer</span></h4>
			<p class="callouts-x-graf">Individuals or organizations can give out badges. You, too, can be an issuer!</p>
		</div>
	</section>
	<div class="callouts-x-callout">
		<div class="callouts-x-buttons">
			<button routerLink="/recipient/badges" class="callouts-x-button button">Get Started</button>
		</div>
	</div>
</div>
