<div class="topbar">
	<div class="l-containerxaxis">
		<div class="topbar-x-breadcrumbs">
			<bg-breadcrumbs [linkentries]="breadcrumbLinkEntries"></bg-breadcrumbs>
		</div>
		<div class="topbar-x-heading">
			Create Badge
		</div>
		<div class="topbar-x-subheading">
			You can award a badge to multiple recipients over time.
		</div>
	</div>
</div>

<div *bgAwaitPromises="[issuerLoaded]" class="l-containerxaxis l-containeryaxis">
	<div class="l-responsivelist">
	<badgeclass-edit-form (save)="badgeClassCreated($event)"
												(cancel)="creationCanceled($event)"
												[issuerSlug]="issuerSlug"
												submitText="Create Badge"
												submittingText="Creating Badge..."
	></badgeclass-edit-form>
	</div>
</div>

