<ng-container *bgAwaitPromises="[issuerLoaded]">

	<form-message></form-message>

	<header class="topbar">
		<div class="l-containerxaxis">
			<div class="topbar-x-breadcrumbs">
				<bg-breadcrumbs [linkentries]="editBadgeCrumbs">
				</bg-breadcrumbs>
			</div>


			<div class="topbar-x-heading">
				<h1>Edit Badge</h1>
			</div>
			<p class="topbar-x-subheading">Edit the information about this achievement.</p>
		</div>
	</header>

	<div class="l-containerxaxis l-containeryaxis">
		<badgeclass-edit-form (save)="badgeClassSaved($event)" (cancel)="editingCanceled()" [issuerSlug]="issuerSlug"
		 [badgeClass]="badgeClass" submitText="Save Changes" submittingText="Saving..."></badgeclass-edit-form>
	</div>


</ng-container>
