<ng-container *bgAwaitPromises="[loadingPromise]">
	<form-message></form-message>

	<div class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter">
		<div class="shadowcontainer">
			<div
				class="l-flex l-flex-1x l-flex-aligncenter l-flex-justifycenter u-margin-bottom3x"
			>
				<img
					[src]="oAuthManager?.currentAuthorization?.application?.image"
					alt="{{ authorizingApp?.application?.name }} Logo"
					height="72"
				/>
				<svg
					class="icon icon-large icon-light4"
					width="24px"
					icon="icon_compare"
				></svg>
				<img [src]="authLinkLogoSrc" height="72" width="72px" alt="Logo" />
			</div>
			<div class="authlist">
				<div class="authlist-x-title">
					{{ authorizingApp?.application?.name }} would like to
				</div>
				<ul class="authlist-x-items">
					<li class="authlist-x-item">
						<svg icon="icon_member"></svg>
						Know who you are on {{ theme.serviceName || "Badgr" }}
					</li>
					<li class="authlist-x-item" *ngFor="let scope of presentationScopes">
						<svg [icon]="'icon_' + iconName(scope.cssName)"></svg>
						{{ scope.label }}
					</li>
				</ul>
			</div>
			<p class="u-text-small text-dark4 u-margin-yaxis2x">
				By clicking Authorize, you are allowing this application and
				{{ theme.serviceName || "Badgr" }} to use your information in accordance
				with their respective terms of service and privacy policies. You can
				change this and other account permissions at any time from the Profile
				menu.
			</p>
			<form class="l-stack l-stack-buttons">
				<button class="button" type="submit" (click)="authorizeApp()">
					Authorize
				</button>
				<button
					class="button button-secondary"
					type="button"
					(click)="cancelAuthorization()"
				>
					Cancel
				</button>
			</form>
		</div>
	</div>
</ng-container>
