<section class="l-containerxaxis l-containeryaxis">
	<div class="u-width-form">
		<div class="contentlong">
			<h2>Import Errors</h2>
			<p>
				{{transformedImportData.validRowsTransformed.size}} rows will be imported. The following
				{{transformedImportData.invalidRowsTransformed.length}} contain errors. Please fix the errors below or select
				REMOVE.
			</p>
		</div>

		<form [formGroup]="importErrorForm">

			<table class="datatable datatable-roundheaders datatable-headers" formArrayName="users" class="table table-issues">
				<thead class="datatable-x-head">
					<tr class="datatable-x-header">
						<th class="datatable-x-cell" scope="col">Email</th>
						<th class="datatable-x-cell" scope="col">Evidence URL</th>
						<th class="datatable-x-cell">
							<!-- header for remove link-->
						</th>
					</tr>
				</thead>
				<tbody class="datatable-x-body">
					<tr class="datatable-x-row" *ngFor="let user of importErrorForm.controls['users']['controls']; let i=index">
						<td class="datatable-x-cell">
							<bg-formfield-text class="u-margin-left2x" [control]="importErrorForm.controls['users']['controls'][i].controls.email" [errorMessage]="'Please enter a valid email'"></bg-formfield-text>
						</td>
						<td class="datatable-x-cell">
							<bg-formfield-text class="u-margin-left2x" [control]="importErrorForm.controls['users']['controls'][i].controls.evidence" [errorMessage]="{required:'Please enter a valid URL'}"></bg-formfield-text>
						</td>
						<td class="datatable-x-cell">
							<button class="u-margin-left2x u-text-link-small" (click)="removeButtonErrorState(i)">Remove</button>
						</td>
					</tr>
				<tbody>
			</table>
		</form>
	</div>

	<!-- BUTTONS -->
	<div class="l-flex l-flex-1x u-margin-top2x">
		<button class="button button-secondary" (click)="updateViewState('import')">Cancel</button>

		<button class="button l-marginLeft-x2" (click)="continueButtonAction()">Continue</button>
	</div>
</section>
