<ng-template [bgAwaitPromises]="badgeIdParam">
	<!-- Embedded View -->
	<div class="l-cardembedded" *ngIf="embedService.isEmbedded">
		<div class="card card-largeimage">
			<a class="card-x-main" [href]="badgeClass.id" target="_blank">
				<div class="card-x-image">
					<img [loaded-src]="badgeClass.image"
					     [loading-src]="badgeLoadingImageUrl"
					     [error-src]="badgeFailedImageUrl"
					     width="60" height="60" />
				</div>
				<div class="card-x-text">
					<h1>{{ badgeClass.name }}</h1>
					<small>{{ issuer.name }}</small>
					<p [truncatedText]="badgeClass.description" [maxLength]="100"></p>
				</div>
			</a>
		</div>
	</div>

	<!-- Regular View -->
	<main class="o-container"
		*ngIf="! embedService.isEmbedded">
		<form-message></form-message>
		<div class="badgedetail">
			<div class="badgedetail-x-header">

				<!-- Badge Name -->
				<h1>{{ badgeClass.name }}</h1>

				<!--
				<div class="l-primarymore">
				-->

					<!-- URLs -->
					<!--
					<section>
						<a [href]="v1JsonUrl"
						   class="button button-primaryghost"
						>v1 JSON</a>
						<a [href]="v2JsonUrl"
						   class="button button-primaryghost"
						>v2.0 JSON</a>
						<a [href]="badgeClass.sourceUrl"
						   *ngIf="badgeClass.sourceUrl"
						   class="button button-primaryghost"
						>View Original</a>
					</section>
					-->
				<!--
				</div>
				-->
			</div>
			<div class="badgedetail-x-sidebar">
				<div class="badgedetail-x-sidebarinternal">

					<!-- Badge Assertion Image -->
					<img alt="{{badgeClass.name}} image"
						 class="badgeimage badgeimage-center badgeimage-large"
						 [loaded-src]="badgeClass.image"
					     [loading-src]="badgeLoadingImageUrl"
					     [error-src]="badgeFailedImageUrl"
					     width="200" />

					<!-- Issuer Information -->
					<dl>
				    	<div class="l-flex l-flex-2x u-padding-top2x border border-top border-light3">
							<div>
								<img [loaded-src]="issuer.image"
									 [loading-src]="issuerImagePlacholderUrl"
									 [error-src]="issuerImagePlacholderUrl"
									 width="40" />
							</div><div>
								<dt class="u-text-small-bold">Issued by:</dt>
								<dd class="u-text">
	                				<a class="u-break-word"
	                					[routerLink]="routerLinkForUrl(issuer.hostedUrl || issuer.id)"
	                				>{{ issuer.name }}</a>
	            				</dd>
							</div>
						</div>
					</dl>
				</div>
			</div>
			<div class="badgedetail-x-desc">
				<h2 class="u-text-h3-semibold u-margin-bottom2x u-hidden-mintablet">Description</h2>
				<p class="u-text-body u-width-paragraph">{{ badgeClass.description }}</p>
			</div>
			<div class="badgedetail-x-body">

				<!-- criteria -->
				<section *ngIf="badgeClass.criteria">
					<h3 class="u-text-h3-semibold u-text-dark2 u-margin-bottom2x u-margin-top4x"
						*ngIf="badgeClass.criteria.id || badgeClass.criteria.narrative"
						>Criteria</h3>
					<show-more>
						<markdown-display
							 *ngIf="badgeClass.criteria.narrative"
							 [value]="badgeClass.criteria.narrative">
					 	</markdown-display>
					</show-more>
					<div class="u-margin-yaxis2x"
							*ngIf="badgeClass.criteria.id">
							<a class="u-text-outlink" target="_blank"
								[href]="badgeClass.criteria.id"
							>View External Criteria URL
								<svg icon="icon_external_link"></svg>
							</a>
						</div>
				</section>

				<!-- alignment -->
				<section>
					<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top4x"
						*ngIf="badgeClass.alignment && badgeClass?.alignment.length>0"
					>Alignment</h3>
					<div class="bordered l-padding-2x l-marginBottom-2x"
					     *ngFor="let alignmentNode of badgeClass.alignment; let i=index">
						<div class="l-flex l-flex-justifybetween">
							<h4 class="u-text-body-bold u-margin-bottom1x">{{ alignmentNode.targetName }}</h4>
							<small>{{ alignmentNode.targetCode }}</small>
						</div>
						<p class="u-break-word u-text-body u-width-paragraph"
							*ngIf="alignmentNode.targetDescription"
						>{{ alignmentNode.targetDescription }}</p>

						<div *ngIf="alignmentNode.frameworkName">
							<h4>Framework</h4>
							{{ alignmentNode.frameworkName }}
						</div>
						<div class="u-margin-yaxis2x"
							 *ngIf="alignmentNode.targetUrl">
							<a class="u-text-outlink" target="_blank"
								[href]="alignmentNode.targetUrl"
							>View alignment URL
								<svg icon="icon_external_link"></svg>
							</a>
						</div>
					</div>
				</section>

				<!-- tags -->
				<section>
					<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top4x"
						*ngIf="badgeClass.tags && badgeClass.tags.length">Tags</h3>
					<div class="l-tags">
						<div class="tag"
							*ngFor="let tag of badgeClass.tags; last as last"
						>{{ tag }}</div>
					</div>
				</section>
			</div>
		</div>
	</main>
</ng-template>
