<main>
		<form-message></form-message>
	
		<div class="topbar">
			<div class="l-containerxaxis topbar-x-wrap">
				<h2 class="topbar-x-heading">
					Collections
					<span class="topbar-x-internalheading" *ngIf="!! badgeCollections">
						{{ badgeCollections.length }} {{ badgeCollections.length == 1 ? "Collection" : "Collections" }}
					</span>
				</h2>
				<button class="button topbar-x-button"
						[routerLink]="['/recipient/badge-collections/create']"
						[disabled-when-requesting]="true"
				>Create Collection</button>
			</div>
		</div>
	
		<ng-template [bgAwaitPromises]="[ collectionListLoaded ]">



			<!--  Empty state - collection has not badges -->
			<div class="emptysection l-emptysection"
				 *ngIf="badgeCollections.length == 0">
				<h2 class="emptysection-x-headline">
					You have no collections</h2>
				<p class="emptysection-x-copy">
					Collections are a way to organize and share badges you've earned.
				</p>
				<div class="emptysection-x-buttons">
				    <button class="button button-secondary"
				    		[routerLink]="['/recipient/badge-collections/create']"
							[disabled-when-requesting]="true"
					>Create Collection</button>
			  	</div>
				<div class="emptysection-x-imagecontainer">
					<img alt="Illustration" class="emptysection-x-image"
						 [src]="noCollectionsImageUrl">
				</div>
			</div>
	
	
			<!--  Collection of Badges -->
			<div *ngIf="badgeCollections.length > 0" class="l-containerxaxis l-containeryaxis l-grid l-grid-medium">
	
				<div class="collectioncard" *ngFor="let collection of badgeCollections">
					<a class="collectioncard-x-headline" [routerLink]="[ '/recipient/badge-collections/collection', collection.slug ]" >{{ collection.name }}</a>
					<p class="collectioncard-x-label">{{ collection.badgeEntries.length == 1 ? '1 Badge' :
						(collection.badgeEntries.length + ' Badges') }}</p>
					<div class="l-grid l-grid-badgeimages u-margin-top4x">
						<img *ngFor="let entry of collection.badgeEntries.entities | slice:0:(collection.badgeEntries.length > 3 ? 3 : 4)"
						 class="badgeimage badgeimage-48px" [loaded-src]="entry.badge?.image" [loading-src]="badgeLoadingImageUrl"
						 [error-src]="badgeFailedImageUrl" alt="{{ entry.badge?.badgeClass.name }} Image" [ngStyle]="entry.badge?.isExpired && {'filter':'grayscale(1)'}"
						 width="40">
						<div class="badgecount" *ngIf="collection.badges.length > 3">
							{{ collection.badges.length - 3 }}+
						</div>
					</div>
					<div class="u-margin-top2x" *ngIf="collection.badges.length != 0">
						<hr class="rule rule-hairline">
					</div>
					<div class="l-flex l-flex-aligncenter l-flex-justifybetween u-margin-top2x" *ngIf="collection.badges.length != 0">
						<div class="switch">
							<fieldset class="switch-x-container">
								<div class="switch-x-inputcontainer">
									<label class="switch-x-label">
										<input class="switch-x-toggletrack" type="checkbox" id="collection-{{ collection.slug }}-published-switch"
										 name="collection-{{ collection.slug }}-published-switch" [checked]="collection.published" (change)="togglePublishCollection(collection)">
										<span class="switch-x-labeltext">Public</span>
										<div class="switch-x-toggle"></div>
									</label>
								</div>
							</fieldset>
						</div>
						<button class="u-text-link-small" *ngIf="collection.published" type="button" (click)="shareCollection(collection)">Share</button>
					</div>
				</div>
			</div>
		</ng-template>
	</main>

	





