<main>
	<form-message></form-message>
	<header class="l-containerxaxis topbar">
		<!-- OAuth Banner -->
		<oauth-banner></oauth-banner>
		<!-- Title Message -->
		<h3 class="topbar-x-heading"
		    id="heading-form"
		>
			Forgot your password?
		</h3>
		<p class="topbar-x-subheading">
			Fill in your email, and we'll help you reset your password.
		</p>
	</header>
	<div class="l-containerxaxis u-margin-yaxis3x u-width-formsmall">
		<!-- Login Form -->
		<form
			aria-labelledby="heading-form"
			role="form"
			[formGroup]="requestPasswordResetForm.rawControl"
			(ngSubmit)="submitResetRequest()"
			novalidate
		>
			<fieldset aria-labelledby="heading-forgotpassword"
			          role="group"
			>
				<legend class="visuallyhidden"
				        id="heading-forgotpassword"
				>
					Forgot Password
				</legend>

				<bg-formfield-text
					[control]="requestPasswordResetForm.rawControlMap.username"
					label="Email"
					[errorMessage]="{ required: 'Please enter your email address' }"
					[autofocus]="true"
				></bg-formfield-text>
			</fieldset>
			<div class="l-flex l-flex-1x l-flex-justifyend u-margin-top2x">
				<a
					class="button button-secondary"
					[routerLink]="['/auth/login']"
					[disabled-when-requesting]="true"
				>Cancel</a
				>
				<button
					class="button"
					type="submit"
					[disabled]="requestPasswordResetForm.invalid"
					[loading-when-requesting]="true"
					loading-message="Resetting Password"
				>
					Reset Password
				</button>
			</div>
		</form>
	</div>
</main>
