<ng-container *bgAwaitPromises="[ appPromise ]">
	<form-message></form-message>
	<div class="topbar topbar-withimage">
		<div class="l-containerxaxis">
			<div class="topbar-x-wrap">
				<img class="topbar-x-image" [src]="app.imageUrl" alt="" width="70px" srcset="">
				<div class="topbar-x-heading">
					{{ app.name }}
				</div>
				<div class="topbar-x-subheading">
					<p class="topbar-x-authdate u-text">
						Authorized: <strong><time [date]="app.createdDate" format="mediumDate"></time></strong>
					</p>
					This application has been granted permission to sign you in using your Badgr account.
					<div class="u-margin-top1x" *ngIf="app.websiteUrl">
						<a class="u-text-outlink" [href]="app.websiteUrl" attr.aria-labelledby="heading" target="_blank">Visit Website
							<svg icon="icon_external_link"></svg>
						</a>
					</div>
				</div>
				<div class="topbar-x-buttons">
					<button class="button button-full" (click)="revokeAccess()">Revoke</button>
				</div>
			</div>
		</div>
	</div>

	<div class="l-containerxaxis l-containeryaxis">
		<div class="authlist">
			<div class="authlist-x-title">
				{{ app.name }} has permission to:
			</div>
			<ul class="authlist-x-items">
				<li class="authlist-x-item">
					<svg icon="icon_member"></svg>
					Know who you are on Badgr
				</li>
				<li class="authlist-x-item" *ngFor="let scope of presentationScopes">
					<svg [icon]="permisionScopeToIconName(scope.cssName)"></svg>
					{{ scope.label }}
				</li>
			</ul>
		</div>
	</div>
</ng-container>
