<section class="l-containerxaxis l-containeryaxis">
    <div class="select-csvUpload">
        <div class="contentlong u-width-form">
            <h2>Map CSV Columns</h2>
            <p *ngIf="importPreviewData?.rows">
                Below is a preview of the first {{ (importPreviewData.rows.length < MAX_ROWS_TO_DISPLAY) ?
				 importPreviewData.rows.length : MAX_ROWS_TO_DISPLAY}} of {{importPreviewData.rows.length}} rows in your file. For
				 each column in the table below, choose the heading from the dropdown that matches the data in your CSV.
            </p>
        </div>
        <table class="datatable datatable-roundheaders datatable-headers">
            <thead class="datatable-x-head">
                <tr class="datatable-x-header">
                    <th
                        class="datatable-x-cell"
                        scope="col"
                        *ngFor="let columnHeaderName of importPreviewData.columnHeaders; let columnId = index;"
                    >
                        <label class="forminput">
							<div class="forminput-x-inputs">
								<select
									name="select"
									[id]="'select'+columnId"
									#selectDest
									[value]=columnHeaderName.destColumn
									(change)="mapDestNameToSourceName(columnId,selectDest.value)"
								>
									<option value="NA">N/A</option>
									<option value="email">Email</option>
									<option value="evidence">Evidence URL</option>
								</select>
							</div>
                        </label>
                    </th>
                </tr>
            </thead>
            <tbody class="datatable-x-body">
                <tr class="datatable-x-row datatable-x-inlineheader">
                    <td
                        class="datatable-x-cell"
                        *ngFor="let columnHeaderName of importPreviewData.columnHeaders"
                    >
                        <div class="u-text-body-bold-caps u-text-dark1">{{ columnHeaderName.sourceName }}</div>
                    </td>
                </tr>
                <tr
                    class="datatable-x-row"
                    *ngFor="let row of importPreviewData?.rows.slice(0,MAX_ROWS_TO_DISPLAY)"
                >
                    <td
                        class="datatable-x-cell"
                        *ngFor="let cell of row"
                    >
                        {{ cell}}
                    </td>
                    <ng-template [ngIf]="row.length < columnHeadersCount">
                        <td
                            class="datatable-x-cell"
                            *ngFor="let spacer of createRange(columnHeadersCount-row.length)"
                        ></td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- BUTTONS -->
    <div class="l-flex l-flex-2x u-margin-top2x">
        <button
            class="button button-secondary"
            (click)="updateViewState('import')"
        >
            Cancel
        </button>

        <button
            class="button l-marginLeft-x2"
            [class.button-is-disabled]=buttonDisabledClass
            [attr.disabled]=buttonDisabledAttribute
            (click)="generateImportPreview()"
        >
            Continue
        </button>
    </div>
</section>

<div *ngIf="rowIsLongerThanHeader">
    <p class="u-text u-width-form">
        The CSV uploaded contains row lengths longer then its header lengths. Please correct this error and try again.
        <!-- <button type="button" (click)="rowIsLongerThanHeader = false">Dismiss</button> -->
    </p>
</div>
