<ng-template [bgAwaitPromises]="issuerIdParam">
	<!-- Embedded View -->
	<div class="l-cardembedded" *ngIf="embedService.isEmbedded">
		<div class="card card-largeimage">
			<a class="card-x-main" [href]="issuer.id" target="_blank">
				<div class="card-x-image">
					<img [loaded-src]="issuer.image || issuerImagePlaceholderUrl"
					     [loading-src]="badgeLoadingImageUrl"
					     [error-src]="badgeFailedImageUrl"
					     alt="Logo for issuer {{ issuer.name }}"
					     width="60" height="60" />
				</div>
				<div class="card-x-text">
					<h1>{{ issuer.name }}</h1>
					<small *ngIf="issuer.url"><a [href]="issuer.url">{{ issuer.url }}</a></small>
				</div>
			</a>
		</div>
	</div>

	<!-- Regular View -->
	<main *ngIf="! embedService.isEmbedded">
		<form-message></form-message>
		<header class="topbar topbar-withimage">
			<div class="l-containerxaxis">
				<div class="topbar-x-wrap">
					<img [loaded-src]="issuer.image || issuerImagePlaceholderUrl"
					     [loading-src]="badgeLoadingImageUrl"
					     [error-src]="badgeFailedImageUrl"
					     alt="Logo for issuer {{ issuer.name }}"
					     class="topbar-x-image"
					     width="60" height="60" />
				    <h1 class="topbar-x-heading">{{ issuer.name }}</h1>
					<div class="topbar-x-subheading">
						<p class="u-text-small-bold">
							{{ issuer.email }}
						</p>
						<p class="u-margin-top1x u-width-paragraph">
							{{ issuer.description }}</p>
						<div class="u-margin-top1x">
							<a class="u-text-outlink" target="_blank"
								[href]="issuer.url"
							>Visit Website<svg icon="icon_external_link"></svg></a></div>
					</div>
					<div class="topbar-x-buttons">
						<div class="l-primarymore">
							<a class="button" href="mailto:{{ issuer.email }}">Contact Issuer</a>
							<button class="buttonicon buttonicon-secondary" id="actionstrigger"
							[bgPopupMenuTrigger]="moreMenu">
								<svg icon="icon_more"></svg>
								<span class="visuallyhidden"
								>More</span></button>
							<bg-popup-menu #moreMenu>
								<a class="menuitem" target="_blank"
								[href]="rawJsonUrl"
								><svg icon="icon_external_link"></svg>View JSON</a>
								<a class="menuitem" target="_blank"
								   [href]="issuer.sourceUrl"
								   *ngIf="issuer.sourceUrl"
								><svg icon="icon_external_link"></svg>View Original</a>
							</bg-popup-menu>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="l-containerxaxis l-containeryaxis">
			<div *ngIf="badgeClasses && badgeClasses.length > 0">
				<header class=" u-margin-top1x">
					<h3 class="u-text-h3-bold u-text-dark2"
					>
					{{ badgeClasses.length | i18nPlural: plural['badge'] }}
				</h3></header>
				<table class="datatable datatable-roundheaders datatable-singlecolumn datatable-verticalalignmiddle u-margin-top2x">
					<thead class="datatable-x-head">
						<tr class="datatable-x-header">
							<th class="datatable-x-cell" scope="col">Badge</th>
						</tr>
					</thead>
					<tbody class="datatable-x-body">
						<tr class="datatable-x-row"
							*ngFor="let badgeClass of badgeClasses">
							<th class="datatable-x-cell" scope="row">
								<div class="l-flex l-flex-aligncenter l-flex-1x">
									<img class="l-flex-x-shrink0 badge-image badgeimage-small"
									     [src]="badgeClass.image"
									     [alt]="badgeClass.name"
									     width="40">
									<a class="u-text u-text-breakword"
									   [routerLink]="routerLinkForUrl(badgeClass.hostedUrl || badgeClass.id)"
									>{{ badgeClass.name }}</a>
								</div>
							</th>
						</tr>
					</tbody>
				</table>
				<!--
				
				TO DO: Add API support for pagination and implement the following pattern

				<div class="u-margin-yaxis4x">
					<nav class="pagination">
					    <h3 class="visuallyhidden"
					    >Pagination</h3>
					    <div class="pagination-x-pages">
					        <a class="page pagination-x-previous page-is-disabled" href="#" disabled>Previous</a>
					        <a class="page page-is-active" href="#">1</a>
					        <a class="page" href="#">2</a>
					        <a class="page" href="#">3</a>
					        <a class="page" href="#">4</a>
					        <a class="page" href="#">5</a>
					        <a class="page" href="#">6</a>
					        <a class="page" href="#">7</a>
					        <a class="page" href="#">8</a>
					        <a class="page" href="#">9</a>
					        <p class="page page-hellip">&hellip;</p>
					        <a class="page" href="#">200</a>
					    </div>
					    <a class="page" href="#">Next</a>
					</nav>
				</div>
				-->
			</div>
		</div>
	</main>
</ng-template>
