<dialog class="dialog dialog-is-active dialog l-dialog">
	<div class="dialog-x-box o-container">

		<div class="dialog-x-header">
			<h1>Add Member</h1>
			<button
				(click)="closeDialog()"
				class="buttonicon buttonicon-link">
				<svg icon="icon_close"></svg>
				<span class="visuallyhidden">Close</span>
			</button>
		</div>

		<div class="u-padding-all3x">

			<div class="l-flex l-flex-justifybetween u-margin-bottom3x">
				<p class="u-text-body">New Staff Members must create and verify a Badgr account prior to being added to an issuer.</p>
			</div>

			<h3 class="u-margin-bottom2x u-text-small-bold">Choose Role</h3>
			<form
				[formGroup]="staffCreateForm.rawControl"
				(ngSubmit)="submitStaffCreate()">
				<bg-formfield-radio
					*ngFor="let role of issuerStaffRoleOptions; last as last;"
					[control]="staffCreateForm.rawControlMap.staffRole"
					[name]="'staffRole'"
					[label]="role.label"
					[value]="role.value"
					[sublabel]="role.description"
					[last]="last"
					[errorMessage]="'Please select a staff role'"
				></bg-formfield-radio>
				<bg-formfield-text
					[control]="staffCreateForm.rawControlMap.staffEmail"
					[label]="'New Member Email'"
					[errorMessage]="'Please enter valid email address'"
					placeholder="Staff Email"
					class="forminput-light1 u-width-formsmall u-margin-top3x"></bg-formfield-text>
				<br>

				<div class="notification notification-warning notification-is-active" *ngIf="error">
					<div class="notification-x-icon">

						<svg>
							<use xlink:href="/images/icons.svg#icon_priority_high"></use>
						</svg>

					</div>
					<div class="notification-x-text">

						<h2>Failed to add member!</h2>
						<p>{{error}}</p>

					</div>
				</div>

				<div class="l-stack l-stack-buttons u-margin-top4x">
					<button
						class="button">Add Member</button>
					<button
						class="button button-secondary"
						type="button"
						(click)="$event.preventDefault(); closeDialog();">Cancel</button>
				</div>

			</form>
		</div>
	</div>
</dialog>
