<!-- loading spinner -->
<ng-template #dialogLoading>
	<div class="dialog-x-box o-container">
		<div class="dialog-x-header u-background-light3">
			<h1>Verify Badge</h1>
			<button class="buttonicon buttonicon-link"
			        (click)="closeDialog()">
				<svg class="navitem-x-icon" icon="icon_close"></svg>
				<span class="visuallyhidden">Close</span>
			</button>
		</div>
		<div class="u-padding-all3x">
			<div class="u-text-center">
				<div class="u-margin-xaxisauto loaderspin loaderspin-large u-margin-bottom2x"></div>
				<div class="u-text">Verifying Badge...</div>
			</div>
		</div>
	</div>
</ng-template>


<!-- Dialog -->
<dialog aria-labelledby="verifyBadgeDialog"
        aria-describedby="dialog1Desc"
        class="dialog dialog-is-active l-dialog"
        role="dialog"
>
	<div *ngIf="badgeAssertion; else dialogLoading"
		     class="dialog-x-box o-container"
	>

		<div class="dialog-x-header u-background-light3">
			<h1>Verify Badge</h1>
			<button class="buttonicon buttonicon-link"
			        (click)="closeDialog()"
			>
				<svg class="navitem-x-icon" icon="icon_close"></svg>
				<span class="visuallyhidden">Close</span>
			</button>
		</div>

		<div class="u-padding-all3x">

			<div class="l-stack l-stack-withimage">
				<div>
					<img [loaded-src]="badgeAssertion.image"
					     [loading-src]="issuerImagePlaceholderUrl"
					     [error-src]="issuerImagePlaceholderUrl"
					     width="128"
					/>
				</div>
				<div class="l-flex l-flex-1x u-margin-bottom3x">
					<svg class="u-animate-step4 icon icon icon-large l-flex-x-shrink0"
					     [ngClass]="isBadgeVerified ? 'icon-large icon-success' : 'icon-notice' "
					     [icon]="   isBadgeVerified ? 'icon_checkmark_circle' : 'icon_error' "
					></svg>

					<div class="l-flex l-flex-1x l-flex-justifybetween u-width-full">
						<div class="l-flex l-flex-column">
							<h1 class="u-text-h3 u-text-bold u-text-dark2">
								{{badgeAssertion?.badge.name}}
							</h1>
							<p class="u-text u-text-small u-width-small u-animate-step6">
								{{isBadgeVerified
									? 'This badge has been verified by Badgr and its information is valid.'
									: 'This badge has not been verified by Badgr.'
								}}
							</p>
							<dl class="u-text u-margin-top2x">

								<div class="l-flex l-flex-1x">
									<svg class="u-animate-step1 icon l-flex-x-shrink0"
									     [ngClass]="awardedState === AWARDED_STATES.MATCH ? 'icon-success' : 'icon-notice' "
									     [icon]="   awardedState === AWARDED_STATES.MATCH ? 'icon_checkmark_circle' : 'icon_error' "
									></svg>
									<div>
										<dt class="u-text-small-bold u-text-dark2">Awarded To</dt>
										<dd class="u-margin-bottom2x"
										    [ngSwitch]="awardedState"
										>
											<ng-container *ngSwitchCase="AWARDED_STATES.MATCH"> {{identityEmail}}</ng-container>
											<ng-container *ngSwitchCase="AWARDED_STATES.NO_MATCH"> This badge was not awarded to {{identityEmail}} </ng-container>
											<ng-container *ngSwitchCase="AWARDED_STATES.NOT_VERIFIED"> Recipient not verified </ng-container>
										</dd>
									</div>
								</div>

								<div class="l-flex l-flex-1x">
									<svg class="u-animate-step2 icon icon-success l-flex-x-shrink0"
									     icon="icon_checkmark_circle"
									></svg>
									<div>
										<dt class="u-text-small-bold u-text-dark2">Issued On</dt>
										<dd class="u-margin-bottom2x"><time [date]="badgeAssertion?.issuedOn" format="mediumDate"></time></dd>
									</div>
								</div>

								<div class="l-flex l-flex-1x">
									<svg class="u-animate-step3 icon l-flex-x-shrink0"
											 [ngClass]="expiryState !== EXPIRY_STATES.EXPIRED ? 'icon-success' : 'icon-notice' "
											 [icon]="expiryState !== EXPIRY_STATES.EXPIRED ? 'icon_checkmark_circle' : 'icon_error' "
									></svg>
									<div>
										<dt class="u-text-small-bold u-text-dark2">Expires On</dt>
										<dd class="u-margin-bottom2x"
												[ngSwitch]="expiryState"
										>
											<ng-container *ngSwitchCase="EXPIRY_STATES.EXPIRED"> Expired</ng-container>
											<ng-container *ngSwitchCase="EXPIRY_STATES.NEVER_EXPIRES"> Does not expire</ng-container>
											<ng-container *ngSwitchCase="EXPIRY_STATES.NOT_EXPIRED">
												<time [date]="badgeAssertion?.expires"
															format="mediumDate"
												></time>
											</ng-container>
										</dd>
									</div>
								</div>
							</dl>
						</div>
					</div>
				</div>
			</div>

			<div class="l-stack l-stack-justifybetween u-margin-top3x">
				<a class="u-text-outlink"
				   [href]="verifyUrl"
				>
					Independently Verify Badge
					<svg icon="icon_external_link"></svg>
				</a>
				<button class="button" (click)="closeDialog()">Done</button>
			</div>

		</div>
	</div>
</dialog>
