<div
	class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter">
	<div class="shadowcontainer u-animate-dropfade">
		<markdown-display
			[value]="theme.welcomeMessage || 'Welcome to Badgr'"
		></markdown-display>
		<ng-template [ngIf]="!sessionService.enabledExternalAuthProviders.length">
		</ng-template>
		<ng-template [ngIf]="sessionService.enabledExternalAuthProviders.length">
			<h3 class="l-ruleheadline ruleheadline">
				Sign in With</h3>
			<div class="l-socialbuttons u-margin-top2x">
				<button
					*ngFor="let provider of sessionService.enabledExternalAuthProviders"
					(click)="sessionService.initiateUnauthenticatedExternalAuth(provider)"
					class="socialbutton"
					[style.backgroundColor]="provider.color">
					<div class="visuallyhidden">Access with {{provider.label}}</div>
					<img [src]="sanitize(provider.imgSrc)" alt="">
				</button>
			</div>
		</ng-template>

		<h3
			*ngIf="sessionService.enabledExternalAuthProviders.length && !features.disableRegistration"
			class="l-ruleheadline ruleheadline">
			Or</h3>

		<form class="u-margin-top2x"
		      (ngSubmit)="submitAuth()"
					*ngIf="!features.disableRegistration"
		      novalidate
		>
			<!-- Email Field -->
			<bg-formfield-text
				[control]="loginForm.rawControlMap.username"
				label="Email"
				fieldType="email"
				[errorMessage]="{required: 'Please enter your email address'}"
				[autofocus]="true"
				[initialValue]="verifiedEmail || ''"
				#usernameField
			></bg-formfield-text>

			<!-- Password Field -->
			<bg-formfield-text
				[control]="loginForm.rawControlMap.password"
				label="Password"
				class="u-margin-top2x"
				[errorMessage]="'Please enter your password'"
				fieldType="password"
				#passwordField
			>
				<span label-additions>
				<a class="forminput-x-helplink"
				   href="#"
				   tabindex="-1"
				   [routerLink]="['/auth/request-password-reset', usernameField.value]"
				>Forgot Password?</a>
				</span>
			</bg-formfield-text>

			<div class="l-stack l-stack-buttons l-stack-2x u-margin-top2x">
				<!-- Submit Button -->
				<button class="button"
				        type="submit"
				        [disabled]="!! loginFinished"
				        [loading-promises]="[ loginFinished ]"
				        loading-message="Signing In"
				>Sign In
				</button>

				<!-- Remember Me Checkout -->
				<label class="checkbox">
					<input id="remember-me"
					       name="remember-me"
					       type="checkbox"
					       [formControl]="loginForm.rawControlMap.rememberMe"
					>
					<span class="checkbox-x-text"
					>Remember me</span>
				</label>
			</div>
		</form>
	</div>
</div>
<form-message></form-message>
