<!-- Verify Badge Dialog-->
<verify-badge-dialog #verifyBadgeDialog
                     (verifiedBadgeAssertion)="onVerifiedBadgeAssertion($event)"
></verify-badge-dialog>

<ng-template [bgAwaitPromises]="assertionIdParam">

	<!-- 1.0 Embedded View -->
	<div *ngIf="embedService.isEmbedded && embedService.isEmbedVersion(1)">
		<bg-badgecard
			[badgeTitle]="badgeClass.name"
			[badgeImage]="assertion.image"
			[badgeDescription]="badgeClass.description"
			[badgeIssueDate]="assertion.issuedOn"
			[mostRelevantStatus]=""
			[issuerTitle]="issuer.name"
			[verifyUrl]="verifyUrl"
		>
		</bg-badgecard>
	</div>

	<!-- 2.0 Embedded View -->
	<div class="oembedbadge"
	     *ngIf="embedService.isEmbedded && embedService.isEmbedVersion(2)"
	     [ngClass]="{'oembedbadge-is-active':showV2EmbedDescription}"
	>

		<!-- Main iframe content -->
		<div class="oembedbadge-x-inner">
			<div class="oembedbadge-x-badge">
				<a [href]="assertion.id"
				   target="_blank"
				   rel="noopener"
				>
					<img [src]="assertion.image" width="200" alt="Badge image"/>
				</a>
                <a class="oembedbadge-x-btn button button-tertiary"
                    [href]="assertion.id"
                    target="_blank"
                >View Credential</a>
			</div>
			<div class="oembedbadge-x-summary">
				<h1>{{badgeClass.name}}</h1>
				<div class="oembedbadge-x-issuer">
					<img [loaded-src]="issuer.image"
					     [loading-src]="issuerImagePlacholderUrl"
					     [error-src]="issuerImagePlacholderUrl"
                         alt="Issuer logo"
					     width=48
					/>
					<dl>
						<dt>Issued By</dt>
						<dd>{{issuer.name}}</dd>
					</dl>
				</div>
				<dl class="oembedbadge-x-info">
					<dt>Issued On</dt>
					<dd>
						<time [date]="assertion.issuedOn" format="mediumDate"></time>
					</dd>
				</dl>
				<dl class="oembedbadge-x-info"
				    *ngIf="assertion.expires"
				>
					<dt>Expires On</dt>
					<dd>
						<time [date]="assertion?.expires" format="mediumDate"></time>
					</dd>
				</dl>
			</div>
		</div>
	</div>


	<!-- Regular View -->
	<main class="o-container"
		*ngIf="! embedService.isEmbedded">
		<form-message></form-message>

		<div class="badgedetail">
			<div class="badgedetail-x-header">
				<!-- Badge Name -->
				<h1>
					{{ badgeClass.name }}
				</h1>

				<div class="l-primarymore">
					<a class="button"
					   *ngIf="!showDownload"
						 (click)="verifyBadge()"
					>Verify Badge</a>

					<a class="button"
						(click)="openSaveDialog(assertion)"
						*ngIf="showDownload"
					>Download</a>

					<button class="buttonicon buttonicon-secondary" id="actionstrigger"
			    		[bgPopupMenuTrigger]="moreMenu">
				        <svg icon="icon_more"></svg>
				        <span class="visuallyhidden">More</span>
				    </button>
					<bg-popup-menu #moreMenu>
						<a class="menuitem"
							[href]="rawJsonUrl"
						><svg icon="icon_external_link"></svg>Download JSON</a>
						<a class="menuitem"
							[href]="rawBakedUrl"
							download=true
							target="_blank"
						><svg icon="icon_external_link"></svg>Download Baked Image</a>
						<a class="menuitem"
							*ngIf="assertion.sourceUrl"
							[href]="assertion.sourceUrl"
						><svg icon="icon_external_link"></svg>View Original</a>
						<a class="menuitem"
							[routerLink]="routerLinkForUrl(badgeClass.hostedUrl || badgeClass.id)">
							<svg icon="icon_badge"></svg>View Badge</a>
					</bg-popup-menu>
				</div>
			</div>
			<div class="badgedetail-x-sidebar">
				<div class="badgedetail-x-sidebarinternal">
					<!-- Badge Assertion Image -->
					<img [loaded-src]="assertion.image"
						 [loading-src]="badgeLoadingImageUrl"
						 [error-src]="badgeFailedImageUrl"
						 [ngStyle]="(assertion.expires && isExpired) && {'filter':'grayscale(1)'}"
						 class="badgeimage badgeimage-center badgeimage-large"
						 width="200" />
					<div class="badgestatus badgestatus-expired u-margin-auto"
						 *ngIf="assertion.expires && isExpired"
						 >Expired</div>

					<!-- Issuer Information -->
					<dl>
				    	<div class="l-flex l-flex-2x u-padding-top2x border border-top border-light3">
							<div>
								<img [loaded-src]="issuer.image"
									 [loading-src]="issuerImagePlacholderUrl"
									 [error-src]="issuerImagePlacholderUrl"
									 width="40" />
							</div>
							<div>
								<dt class="u-text-small-bold u-text-dark2">Issued by:</dt>
								<dd class="u-text">
	                				<a class="u-break-word" [href]="issuer.id">{{ issuer.name }}</a>
	            				</dd>
							</div>
						</div>
						<dt class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2">Issued on:</dt>
						<dd class="u-text"><time [date]="assertion.issuedOn" format="mediumDate"></time></dd>
				    	<dt class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2" *ngIf="awardedToDisplayName">Awarded to:</dt>
				    	<dd class="u-text u-break-all">{{ awardedToDisplayName }}</dd>
				    	<dt class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2" *ngIf="assertion.expires">
				    		<span>{{ +isExpired | i18nPlural: tense['expires'] }} on:</span>
				    	</dt>
							<dd class="u-text" *ngIf="assertion.expires"><time [date]="assertion?.expires" format="mediumDate"></time></dd>
					</dl>
				</div>
			</div>
			<div class="badgedetail-x-desc">
				<h2 class="u-text-h3-semibold u-margin-bottom2x u-hidden-mintablet">Description</h2>
				<p class="u-text-body u-width-paragraph">{{ assertion.badge.description }}</p>
			</div>
			<div class="badgedetail-x-body">

				<!-- criteria -->
				<section>
					<h3
						*ngIf="badgeClass.criteria.id || badgeClass.criteria.narrative || badgeClass.criteria"
						class="u-text-h3-semibold u-text-dark2 u-margin-bottom2x u-margin-top4x"
					>Criteria</h3>
					<show-more class="u-margin-bottom8x"
										 *ngIf="badgeClass.criteria.narrative">
						<markdown-display
							[value]="badgeClass.criteria.narrative"></markdown-display>
					</show-more>
					<div class="u-margin-yaxis2x"
						*ngIf="badgeClass.criteria.id">
						<a class="u-text-outlink" target="_blank"
							[href]="badgeClass.criteria.id"
						>View External Criteria URL
							<svg icon="icon_external_link"></svg>
						</a>
					</div>
				</section>

				<!-- alignment -->
				<section>
					<h3 class="u-text-h3-semibold u-margin-yaxis2x"
						*ngIf="badgeClass.alignment && badgeClass?.alignment.length>0"
						>Alignment</h3>

					<div class="bordered l-padding-2x l-marginBottom-2x"
						 *ngFor="let alignment of badgeClass.alignment; let i=index">
						<div class="l-flex l-flex-justifybetween">
							<h4 class="u-text-body-bold u-margin-bottom1x">{{ alignment.targetName }}</h4>
							<small>{{ alignment.targetCode }}</small>
						</div>
						<p class="u-break-word u-text-body u-width-paragraph">{{ alignment.targetDescription }}</p>
						<div *ngIf="alignment.frameworkName">
							<h1>Framework</h1>
							{{alignment.frameworkName}}
						</div>
						<div class="u-margin-yaxis2x"
							 *ngIf="alignment.targetUrl">
							<a class="u-text-outlink"
								[href]="alignment.targetUrl"
								target="_blank"
							>View alignment URL
								<svg icon="icon_external_link"></svg>
							</a>
						</div>
					</div>
				</section>

				<!-- tags -->
				<section>
					<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top4x"
						*ngIf="badgeClass.tags && badgeClass.tags.length">Tags</h3>
					<div class="l-tags">
						<div class="tag"
							*ngFor="let tag of badgeClass.tags; last as last"
						>{{tag}}</div>
					</div>
				</section>

				<!-- evidence -->
				<section
					*ngIf="assertion?.evidence?.length>0 || assertion?.narrative || assertion?.evidence">

					<!-- || assertion.evidence.narrative -->
					<h3
						*ngIf="assertion?.narrative"
						class="u-text-h3-semibold u-margin-bottom2x u-margin-top4x">Narrative</h3>

					<show-more *ngIf="assertion?.narrative">
						<markdown-display [value]="assertion?.narrative"></markdown-display>
					</show-more>

					<show-more *ngIf="assertion?.evidence?.narrative">
						<markdown-display [value]="assertion?.evidence?.narrative"></markdown-display>
					</show-more>

					<div *ngFor="let evidence of assertion?.evidence; let i=index">
						<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top4x">Evidence</h3>
						<markdown-display [value]="evidence?.narrative"></markdown-display>
						<div class="u-margin-yaxis2x">
							<a
								*ngIf="evidence.id"
								class="u-text-outlink"
								[href]="evidence.id"
								target="_blank"
							>View Evidence URL
								<svg icon="icon_external_link"></svg>
							</a>
						</div>
					</div>

				</section>
			</div>
		</div>
	</main>
</ng-template>
