<main>
	<form-message></form-message>

	<header class="topbar">
		<div class="l-containerxaxis">
			<div class="topbar-x-breadcrumbs">
				<bg-breadcrumbs [linkentries]="crumbs">
				</bg-breadcrumbs>
			</div>
		</div>
		<div class="l-containerxaxis">
			<h3 class="topbar-x-heading">Change Password</h3>
			<p class="topbar-x-subheading">Enter a new password.</p>
		</div>
	</header>
	<div class="l-containerxaxis u-margin-top3x u-width-formsmall">
		<form class="l-form"
		      [formGroup]="changePasswordForm.rawControl"
		      (ngSubmit)="submitChange()"
		      novalidate
		>
			<fieldset>
				<bg-formfield-text [control]="changePasswordForm.rawControlMap.current_password"
				                   label="Current Password"
				                   errorMessage="Please enter current password"
													 [errorOverride]="!!errors['current_password']"
				                   fieldType="password"
				                   [autofocus]="true"
				></bg-formfield-text>
				<p class="u-text-small u-text-error" *ngIf="errors['current_password']">{{ errors['current_password'] }}</p>

				<div class="u-margin-top2x">
					<bg-formfield-text [control]="changePasswordForm.rawControlMap.password"
					                   label="New Password"
					                   [errorMessage]="{
					                       required: 'Please enter your new password',
					                       minlength: 'Must be at least 8 characters'
					                   }"
														 [errorOverride]="!!errors['password']"
					                   fieldType="password"
					                   sublabel="Must be at least 8 characters"
					></bg-formfield-text>
					<p class="u-text-small u-text-error" *ngIf="errors['password']">{{ errors['password'] }}</p>
				</div>

				<div class="u-margin-top2x">
					<bg-formfield-text [control]="changePasswordForm.rawControlMap.password2"
					                   label="Confirm New Password"
					                   fieldType="password"
					                   [errorMessage]="{
					                       required: 'Please confirm your new password',
					                       passwordsMatch: 'Passwords do not match'
					                   }"
					>
					</bg-formfield-text>
				</div>
			</fieldset>

			<div class="l-stack l-stack-buttons u-margin-top2x">
				<button class="button"
				        type="submit"
				        [loading-when-requesting]="true"
				        loading-message="Changing Password"
				>Change Password
				</button>
				<a class="button button-secondary"
				   (click)="cancel()"
				   [disabled-when-requesting]="true"
				   tabindex="0"
				>Cancel</a>
			</div>
			<p class="u-text u-margin-top2x u-margin-bottom3x u-margin-yaxis3x">
				Don’t have your current password?
				<br>
				<a (click)="forgotPassword()"
				   class="u-text-link"
				>Click here</a>
				to reset by email.
			</p>
		</form>
	</div>
</main>
