<dialog aria-labelledby="addBadgeDialog"
        aria-describedby="dialog1Desc"
        class="dialog dialog-is-active l-dialog dialog-clean"
        role="dialog"
>
	<div class="dialog-x-box o-container">
		<div class="dialog-x-header u-background-light3">
			<h2 id="addBadgeDialog"
			    class="u-text-body-bold-caps text-dark1"
			>
				Add Badge
			</h2>
			<button class="buttonicon buttonicon-link"
			        (click)="closeDialog()"
			>
				<svg icon="icon_close"></svg>
				<span class="visuallyhidden">Close</span>
			</button>
		</div>


		<form [formGroup]="addRecipientBadgeForm.rawControl"
		      (ngSubmit)="submitBadgeRecipientForm()"
		>
			<p class="u-padding-yaxis2x u-responsivepadding-xaxis border-light3 u-text-body u-background-light3">
				Add a badge you’ve already received using one of the options below.
			</p>

			<div class="tabbar">
				<div class="tab"
				     [class.tab-is-active]="currentTab === 'upload'"
				     (click)="currentTab = 'upload'"
				     type="button"
				>
					Image
				</div>

				<div class="tab"
				     [class.tab-is-active]="currentTab === 'url'"
				     (click)="currentTab = 'url'"
				     type="button"
				>
					URL
				</div>

				<div class="tab"
				     [class.tab-is-active]="currentTab === 'json'"
				     (click)="currentTab = 'json'"
				     type="button"
				>
					JSON
				</div>
			</div>

			<!-- Drag or upload Badge -->

			<div *ngIf="currentTab === 'upload'"
			     class="u-padding-all3x"
			>
				<bg-formfield-image imageLoaderName="basic"
				                    [placeholderImage]="uploadBadgeImageUrl"
				                    [control]="addRecipientBadgeForm.rawControlMap.image"
				                    (change)="controlUpdated(addRecipientBadgeForm.controls.image)"
				                    class="formimage-badgeUpload"
				></bg-formfield-image>
			</div>

			<!-- ------- Paste badge URL  -->

			<div *ngIf="currentTab === 'url'"
			     class="u-padding-all3x"
			>
				<div class="forminput">
					<bg-formfield-text urlField="true"
					                   [control]="addRecipientBadgeForm.rawControlMap.url"
					                   errorMessage="Please enter valid URL"
					                   (change)="controlUpdated(addRecipientBadgeForm.controls.url)"
					                   includeLabelAsWrapper="true"
					                   placeholder="Enter URL"
					                   [autofocus]="true"
					                   #urlField
					></bg-formfield-text>
				</div>
			</div>

			<!-- ------- Paste badge JSON  -->

			<div *ngIf="currentTab === 'json'"
			     class="u-padding-all3x"
			>
				<div class="forminput">
					<bg-formfield-text [control]="addRecipientBadgeForm.rawControlMap.assertion"
					                   errorMessage="Please enter valid JSON"
					                   placeholder="Enter JSON"
					                   (change)="controlUpdated(addRecipientBadgeForm.controls.assertion)"
					                   [multiline]="true"
					                   [monospaced]="true"
					                   [autofocus]="true"
					                   class="formfield-x-badgePasteJson-text-height"
					                   #jsonField
					></bg-formfield-text>
				</div>
			</div>


			<div class="u-responsivepadding-xaxis u-responsivepadding-yaxis l-stack l-stack-right">
				<button class="button"
				        type="submit"
				        [loading-promises]="[ badgeUploadPromise ]"
				        loading-message="Adding"
				>
					Add Badge
				</button>
			</div>
			<div *ngIf="formError"
			     class="u-padding-all3x"
			>
				<div class="notification notification-warning notification-is-active">
					<div class="notification-x-icon">
						<svg icon="icon_priority_high"></svg>
					</div>
					<div class="notification-x-text">
						<h2>Uh Oh...</h2>
						<p>{{formError}}</p>
					</div>
					<button class="notification-x-close buttonicon buttonicon-clear"
					        (click)="clearFormError()"
					>
						<svg icon="icon_close"></svg>
						<span class="visuallyhidden">Close Notification</span>
					</button>
				</div>
			</div>
		</form>

	</div>
</dialog>
